
.title{
    color: #f48fb1;
    text-align: center;
    font-size:  xx-large;
    margin-bottom: -10px;
    font-family: 'Caveat', cursive;
}

.subtitle{
    font-size: xx-large;
    color: #f48fb1;
    text-align: center;
     font-family: 'Caveat', cursive;
     margin-top: -2px;
}

.map{
    text-align: center;
}

.midsection{
    display: flex;
    justify-content: space-evenly;
}

.mapcaption{
  color: #4b5563; /* Tailwind's text-gray-600 */
  margin-bottom: 1rem; /* Tailwind's mb-4 */
  font-size: 1.125rem; /* Tailwind's text-lg */
  font-style: italic;
  text-align: center;
}


    .polaroid {
      width: 400px; /* Or desired width */
      height: auto;
      padding: 15px 15px 60px 15px; /* Adjust padding for desired shape */
      border: 1px solid #BFBFBF;
      background-color: white;
      box-shadow: 5px 10px 10px #aaaaaa;
      transform: rotate(-5deg);
    }

    .polaroid img {
      width: 100%;
      height: auto;
    }

    .container {
      padding: 10px;
    }

    .polaroid:after {
      content: attr(polaroid-caption); /* Replace with your caption */
      position: absolute;
      bottom: 0;
      left: 0;
      width: calc(100% - 20px);
      padding: 10px;
      text-align: center;
      clip-path: polygon(
        0 0,
        70% 0,
        100% 100%,
        0% 100%
      ); /* Adjust percentages for wavy shape */
      z-index: -1;       /* Place behind the image */
    }

.containtertext{
  color: #4b5563; /* Tailwind's text-gray-600 */
  margin-bottom: 1rem; /* Tailwind's mb-4 */
  font-size: 1.125rem; /* Tailwind's text-lg */
  font-style: italic;
  text-align: center;
}

@media only screen and (max-width: 1200px) {
 .midsection{
  flex-direction: column;
  align-items: center;
 }
 .polaroid{
  transform: rotate(0deg);
 }
 .mapsection{
  width: 80%;
 }
 .photosection{
  margin-bottom: 50px;
 }
}
