.listTitle{
    font-size: x-large;
    font-weight: bold;
}



.cardTitle{
    text-align: center;
    color: black;
}

.link{
    text-decoration: none;
}

.image{
   display: flex;
   justify-content: center;
}

.itemContainer{
    width: 210px;
    height: 370px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid grey;
    margin-right: 100px;
    margin-top: 20px;
    margin-left: 50px;
    margin-bottom: 20px;
}

.placeholder{
    width: 190px;
    align-items: center;
    justify-content: center;
}

.headericon{
    margin-top: 20px;
    flex: 1;
    font-size: x-large;
}

.headerbutton{
    border: 0;
    background-color: rgba(0, 0, 0, 0);
}

.headerbutton:hover{
    color: #f48fb1;
}

/* .desktop{
    display:none;
} */